body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
#name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: rgb(142, 216, 142);
}

.instructions {
    flex: 1;
    background-color: #333;
    color: white;
    padding: 20px;
}

.instructions h2 {
    text-align: center;
}

.instructions ul {
    list-style-type: none;
    padding: 0;
}

.instructions ul li {
    margin-bottom: 10px;
}

.chat-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: #404340;
}

.chat-box {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.chat-input {
    display: flex;
    padding: 20px;
}

#user-input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

#send-btn {
    background-color: #333;
    color: rgb(142, 216, 142);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.4;
}

.user-message {
    background-color: #f5f6f7;
    align-self: flex-end;
}

.bot-message {
    background-color: #2ed230;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .instructions {
        flex: 0 0 auto; /* Do not grow or shrink, base size on content */
        height: 25vh; /* Or a fixed height like 200px */
        overflow-y: auto;
    }

    .chat-container {
        flex: 1; /* Grow to fill available space */
    }
}
